/* custom styles */
body {
	background-color: #CCFFFF;
}

.center {
	text-align: center;
    margin: auto;
    width: 70%;
    /*border: 3px solid green;*/
    padding: 10px;
}

footer {
	border-top: thick double #808080;
	margin: 10px 50px 10px 50px;
}

.contact-info {
	display: block;
	margin: 10px 0px 10px 0px;
}