/* custom styles */
body {
	/*background-color: #CCFFFF;*/
	background-image: url("../../img/backgroundTrees_1920x1234.png");
}

header {
	border-bottom: thick double #759895;
	margin-left: 5%;
	margin-right: 5%;
}

.wrapper {
	/*background-size: 100%;*/
	text-align: left;
	margin: 0px 10% 30px 10%;
}

.center {
	text-align: center;
    margin: auto;
    width: 70%;
    /*border: 3px solid green;*/
    padding: 10px;
}



a {

}

.contact-list li {
	margin-top: 10px;
	margin-bottom: 5px;
}

footer {
	border-top: thick double #808080;
	margin: 10px 5% 10px 5%;
}

.contact-block {
	clear:both;
}

.contact-info, .work-list {
	margin: 10px 0px 10px 0px;
	font-size: 20px;
}

.celebrate {
	
}